@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 138 56% 96%;
    --foreground: 135 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 135 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 135 20% 15%;
    --primary: 135 29% 34%;
    --primary-foreground: 138 50% 95%;
    --secondary: 135 20% 85%;
    --secondary-foreground: 135 29% 34%;
    --muted: 135 20% 90%;
    --muted-foreground: 135 20% 40%;
    --accent: 43 60% 54%;
    --accent-foreground: 43 90% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 20% 80%;
    --input: 135 20% 92%;
    --ring: 135 29% 34%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 135 15% 10%;
    --foreground: 138 20% 95%;
    --card: 135 15% 12%;
    --card-foreground: 138 20% 95%;
    --popover: 135 15% 12%;
    --popover-foreground: 138 20% 95%;
    --primary: 138 56% 96%;
    --primary-foreground: 135 29% 34%;
    --secondary: 135 15% 20%;
    --secondary-foreground: 138 20% 95%;
    --muted: 135 15% 25%;
    --muted-foreground: 138 20% 60%;
    --accent: 43 70% 60%;
    --accent-foreground: 43 90% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 15% 25%;
    --input: 135 15% 22%;
    --ring: 138 56% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body, html {
    background-color: #fff !important;
    color: #000 !important;
  }
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none !important;
    box-shadow: none !important;
  }
  @page {
    size: auto;
    margin: 0.75in;
  }
  .no-print {
    display: none !important;
  }
}
